<div class="repository-search-list" *ngIf="repositoryList.length > 0">
  <mat-card appearance="outlined" class="repository-search-list__item" *ngFor="let item of repositoryList">
    <mat-card-header>
      <mat-card-title class="repository-search-list__item-title">{{ item.name }}</mat-card-title>
      <mat-card-subtitle class="repository-search-list__item-description">{{ item.description }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="repository-search-list__item-content">
      <p>Forks count: {{ item.forks_count }}</p>
      <p>Stars count: {{ item.stargazers_count }}</p>
    </mat-card-content>

    <mat-card-actions class="repository-search-list__item-actions">
      <button
        mat-stroked-button
        target="_blank"
        routerLink="/repository/{{ item.owner.login }}/{{ item.name }}/issues"
        [disabled]="!item.has_issues"
      >
        <mat-icon>bug_report</mat-icon>
        Issues
      </button>
      <a mat-stroked-button [href]="item.html_url" target="_blank"
        ><mat-icon>open_in_new</mat-icon> Go to the Repository</a
      >
    </mat-card-actions>
  </mat-card>
</div>
