.repository-search-list {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding-bottom: 20px;

  &__item-title {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item-description {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item-content p {
    &:not(:first-child) {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-actions {
    margin-top: 30px;
    padding: 0 16px 16px;
    gap: 10px;

    button {
      padding: 0 18px;
    }
  }
}
