<div class="repository-issues-list" *ngIf="repositoryIssues.length > 0">
  <mat-card appearance="outlined" class="repository-issues-list__item" *ngFor="let item of repositoryIssues">
    <mat-card-header>
      <mat-card-title class="repository-issues-list__item-title">{{ item.title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content
      ><mat-card-subtitle class="repository-issues-list__item-state"
        >Status: {{ item.state }}</mat-card-subtitle
      ></mat-card-content
    >

    <mat-card-actions class="repository-issues-list__item-actions">
      <a mat-stroked-button [href]="item.html_url" target="_blank">
        <mat-icon>open_in_new</mat-icon> Got to the Issue Page
      </a>
    </mat-card-actions>
  </mat-card>
</div>
